<hr>
<!-- Cursos cadastrados -->
<div>
    <%= link_to "atualizar", admininstrator_path(:atualizar => true), class: 'button' %>
</div>

<div class="">
    <%= render :template => 'courses/index' %>
</div>
<hr>
<!-- Lista de contatos  -->
<div class="">
    <%= render :template => 'contacts/index' %>
</div>

<!-- Lista de usuarios por categoria -->
<!-- Somente aparece caso haja ao menos um membro na coleção -->
<hr>
<div class="">
    <!-- Caminho completo views/shared/_user.html.erb
         em ambas funções.
    -->
    <%= render_collection('user', @users_pay, 'USUÁRIOS | PAGAMENTO CONFIRMADO') %>
</div>
<hr>
<div class="">
    <%= render_collection('user', @users_unpay, 'USUÁRIOS | PAGAMENTO PENDENTE') %>
</div>


<div>
    <div class="row">
    <div class="small-12 small-centered columns">
        <div class="row text-center">
<h1>Quantidade pagos por curso</h1>

<table class="text-left">
  <thead>
    <tr>
        <th>Name</th>
        <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% Course.all.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.course_users.where(pay:1).count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>

</div>
