<p id="notice"><%= notice %></p>

<p>
  <strong>File article:</strong>
  <%= @article.file_article %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Voltar', articles_path %>
