<div class="row">
    <div class="small-12 small-centered columns">
        <div class="row text-center">
<h1><%= head_name %></h1>

<table class="text-left">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Cursos</th>
      <th>Artigo</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.telephone %></td>
        <td>|cursos : 
    <% user.courses.each do |c| %>|
       <%=  c.name %>
    <% end %></td>
      <td>
          <% unless user.articles.last.nil? %>
            <a href='<%= user.articles.last.file_article.url %>'>Download</a>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
