<h1><%= head_name %></h1>
<% users.each do |user| %>
    <%= user.name %>
    <%= user.email %>
    <%= user.telephone %>|
    cursos : 
    <%= user.courses.each do |c| %>|
       <%=  c.name %>
    <% end %>
    <hr>
    <br/>
<% end %>
