<!--  Início Hero Section  -->
<section class="hero">

    <section class="caption">
        <div class="row">
            <h1 class="mean_cap">computação</h1>
            <h2 class="sub_cap">& interdisciplinaridade</h2>
            <h3 class="btn_details"><span>5 a 7 de outubro | UFPI - CSHNB</span></h3>
        </div>
    </section>
    <!--    End Hero Caption    -->

</section>
<!--  End Hero Section  -->

<!--  Início Sobre Section  -->
<section class="services" id="evento">

    <!--    Início Services Titles    -->
    <div class="row">
        <h1 class="mean_title">O que é o SINFO?</h1>
        <h2 class="sub_title">É o Simpósio de Sistemas de Informação, da Universidade Federal do Piauí, campus Picos, construído pelo conjunto do curso. Em sua oitava edição, que acontecerá entre os dias <strong>5 a 7 de outubro de 2016</strong>, traz o tema <strong>Computação e Interdisciplinaridade</strong>            como discussão central de suas atividades. Serão dispostos espaços de discussão e construção do conhecimento, como:</h2>
    </div>
    <!--    End Services Titles    -->

    <!--    Início Services List    -->
    <div class="row services_list">

        <div class="large-4 columns">
            <%=image_tag('icon1.png', class:'serv_icon')%>
                <h2 class="title">Palestras</h2>
                <p>O VIII SINFO promoverá palestras com temas atuais e de grande interesse de empresas e da academia. Possibilitando assim aos participantes reconhecerem o trabalho apresentado pelos convidados de maneira mais clara e se atualizarem dos assuntos
                    abordados, podendo desenvolver projetos pessoais ou esclarecer dúvidas decorrentes dos temas abordados.</p>
        </div>

        <div class="large-4 columns">
            <%=image_tag('icon2.png',class:'serv_icon')%>
                <h2 class="title">Minicursos</h2>
                <p>Que com mais especifidade, levarão ao participante um conteúdo técnico, detalhado e prático acerca das ferramentas abordadas, que serão: Robótica; Latex; Desenvolvimento de Jogos; Arduíno; Node.js; Entre outras.</p>
        </div>


        <div class="large-4 columns">
            <%=image_tag('icon3.png',class:'serv_icon')%>
                <h2 class="title">Submissão de Artigos</h2>
                <p>A submissão de artigos científicos é a forma mais comum de disseminar os avanços alcançados por pesquisas científicas que são desenvolvidas em diversas áreas do conhecimento. Caso queira submeter confira o nosso </br>
                    <%= link_to('Edital', artigo_index_path, class:'maisinfo')%>
                </p>
        </div>

    </div>
    <!--    End Services List    -->

</section>
<!--  End Sobre Section  -->

<!--  Início Frase Section  -->
<section class="quote">
    <blockquote>
        <p>“A administração superior sempre esteve aberta a apoiar eventos dessa magnitude.<span class="strong"> Os estudantes que hoje participam aqui, serão, sem dúvida, profissionais diferenciados no futuro</span>"</p>
        <hr/>
        <span class="author">Reitor Prof. Dr. José Arimatéia Dantas Lopes</span>
    </blockquote>
</section>
<!--  End Frase Section  -->

<!--  Início Palestrantes Section  -->
<section class="testimonials" id="palestras">

    <div class="row">

        <h1 class="mean_title">Palestrantes</h1>

        <div class="medium-6 columns">
            <div class="profile-card">
                <%=image_tag('Ricardo.png')%>
                    <div class="profile-info">
                        <h4 class="subheader">Ricardo de Andrade Lira Rabêlo</h4>
                        <p><strong>Sistemas Inteligentes: Aspectos Teóricos e Aplicações</strong></p>
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item text-center" data-accordion-item>
                                <a href="#" class="button">Biografía</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Possui graduação em Bacharelado em Ciência da Computação pela Universidade Federal do Piauí, UFPI, (2005) e Doutorado em Ciências (Engenharia Elétrica - Sistemas Elétricos de Potência), Programa de Engenharia Elétrica
                                        na Universidade de São Paulo, USP, (2010). Professor Adjunto da Universidade Federal do Piauí (UFPI), no Departamento de Computação (DC). Atualmente é Coordenador da Câmara Técnico-Científica (CTC) de Computação
                                        e Engenharias da Fundação de Amparo a Pesquisa do Estado do Piauí (FAPEPI) e Coordenador de Tutoria do Curso de Bacharelado em Sistemas de Informação da UFPI/UAB/CEAD.</p>
                                </div>
                            </li>
                            <!-- ... -->
                        </ul>

                    </div>
            </div>
        </div>

        <div class="medium-6 columns">
            <div class="profile-card">
                <%=image_tag('jose.jpg')%>
                    <div class="profile-info">
                        <h4 class="subheader">José Nunes de Oliveira Neto</h4>
                        <p><strong>Faço Jogos Porque Amo: Conhecendo este Mercado</strong></p>
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item text-center" data-accordion-item>
                                <a href="#" class="button">Biografía</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Graduado em Ciência da Computação pela Universidade Federal do Maranhão, pesquisa na área de desenvolvimentos de jogos eletrônicos e entretenimento digital pelo IFMA - Campus Monte Castelo e atua como desenvolvedor
                                        de jogos pela Zogui Game Studio. É também diretor de relações institucionais da Associação Maranhense de Desenvolvedores de Jogos Eletrônicos - AMAGames, onde participa de ações para disseminar a cultura do desenvolvimentos
                                        de jogos no estado do Maranhão, tais como participação em exposições, feiras, associações e realização de cursos voltados à área.</p>
                                </div>
                            </li>
                            <!-- ... -->
                        </ul>

                    </div>
            </div>
        </div>
    </div>

</section>
<!--  End Palestrantes Section  -->


<!--  Início Minicursos Section  -->
<section class="testimonials" id="minicursos">

    <div class="row">
        <hr/>
        <h1 class="mean_title">Minicursos</h1>
        <hr/>
        <div class="row">
            <div class="large-12 columns text-center">
                <div class="row">

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m1.png')%>
                            <h6 class="panel"><strong>Conhecendo o Node.js</strong></br> Jesiel Viana da Silva</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m2.png')%>
                            <h6 class="panel"><strong>Quero fazer jogos com Unity!</strong></br>José Nunes de Oliveira Neto</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m4.png')%>
                            <h6 class="panel"><strong>Latex básico para graduação</strong></br>Ismael de Holanda Leal</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m5.png')%>
                            <h6 class="panel"><strong>Firebase a partir de hoje!</strong></br>Kelvin Campelo Alves de Sousa</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m6.png')%>
                            <h6 class="panel"><strong>Dev Mobile Híbrido, foco em front end</strong></br>Vicente M Carvalho</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m3.png')%>
                            <h6 class="panel"><strong>Utilização de bibliotecas livres para o processamento digital de imagens </strong></br>Alexandre e Marcos</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m9.png')%>
                            <h6 class="panel"><strong>Desenvolvimento de Jogos 2D utilizando o Construct 2</strong></br>Francisco Ramon</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m7.png')%>
                            <h6 class="panel"><strong>Robótica móvel em ambientes internos: modelagem,controle e simulacão</strong></br>Ronnasayd de Sousa Machado</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m8.png')%>
                            <h6 class="panel"><strong>Introdução à arquitetura multinúcleo: conceitos sobre MPSoc e IPNoSys</strong></br>Lucas Ibiapino</h6>
                    </div>

                    <div class="large-6 small-6 columns">
                        <%=image_tag('m10.png')%>
                            <h6 class="panel"><strong>Ruby on Rails</strong></br>Wallison Rubens</h6>
                    </div>
                    
                    <div class="large-6 small-6 columns">
                        <%=image_tag('m11.jpg')%>
                            <h6 class="panel"><strong>Controle de versões de software com GitHub</strong></br>Rodrigo Carlos</h6>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<!--  End Minicursos Section  -->

<!--  Início Chamada Section  -->
<section class="cta" id="inscricao">
    <div class="row">
        <div class="column medium-4">

            <ul class="pricing-table no-bullet text-center">
                <li class="titleprice">Básico</li>
                <li class="price">R$20,00</li>
                <li class="description">Somente Palestras</li>
            </ul>

        </div>

        <div class="column medium-4">

            <ul class="pricing-table no-bullet text-center">
                <li class="titleprice">Intermediário</li>
                <li class="price">R$30,00</li>
                <li class="description">Palestras + 1 Minicurso</li>
            </ul>

        </div>

        <div class="column medium-4">

            <ul class="pricing-table no-bullet text-center">
                <li class="titleprice">Completo</li>
                <li class="price">R$35,00</li>
                <li class="description">Palestras + 2 Minicursos</li>
            </ul>

        </div>
    </div>
    <div class="row">
        <!--    Início CTA Titles    -->
        <h1 class="title">Venha participar do maior evento de TI do centro-sul piauiense!</h1>
        <h2 class="sub_title">Garanta sua vaga!</h2>
        <!--    End CTA Titles    -->

        <!--    Início Button    -->
        <%= link_to('Inscreva-se!', new_user_session_path, class: 'button large')%>
            <!--    End Button    -->
    </div>
</section>
<!--  End Chamada Section  -->

<!--  Início Realização Section  -->
<section class="testimonials" id="realizacao">

    <div class="row">
        <hr/>
        <h1 class="mean_title">Realização</h1>
        <hr/>
        <div class="row">
            <div class="large-12 columns text-center">
                <div class="row">

                    <div class="large-4 columns">
                        <%=image_tag('r1.png')%>
                    </div>

                    <div class="large-4 columns">
                        <%=image_tag('r2.png')%>
                    </div>

                    <div class="large-4 columns">
                        <%=image_tag('r3.png')%>
                    </div>
                    <div class="large-6 small-6 columns">
                        <%=image_tag('r4.jpg')%>
                    </div>
                    <div class="large-6 small-6 columns">
                        <%=image_tag('r5.jpg')%>
                    </div>

                </div>
            </div>
            <hr/>
        </div>
    </div>
    </div>

</section>
<!--  End Realização Section  -->
<%= render partial: "rodape/rodape" %>
    <!--    Início Back To Top    -->
    <a href="#" class="button" id="back_top">Topo</a>
    <!--    End Back To Top    -->
