<!--  Início Nav Section  -->
<nav>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar logo" id="main-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="name">
                    <a href="#">
                        <%=image_tag('sinfologo2.png')%>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="top-bar-right">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
                <li><%= link_to('Login', new_user_session_path, class: 'button tiny')%></li>
                <li><%= link_to('Cadastro', new_user_registration_path, class: 'button tiny')%></li>
            </ul>
        </div>
        
        <div class="top-bar-right" id="mean_nav">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
                <li><a href="#evento">Evento</a></li>
                <li><a href="#palestras">Palestrantes</a></li>
                <li><a href="#minicursos">Minicursos</a></li>
                <li><a href="#inscricao">Inscrição</a></li>
                <li><a href="#realizacao">Realização</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--  End Nav Section  -->


<!--  Início Hero Section  -->
<section class="hero">

    <section class="caption">
        <div class="row">
            <h1 class="mean_cap">computação</h1>
            <h2 class="sub_cap">& interdisciplinaridade</h2>
            <h3 class="btn_details"><span>5 a 7 de outubro | UFPI - CSHNB</span></h3>
        </div>
    </section>
    <!--    End Hero Caption    -->

</section>
<!--  End Hero Section  -->

<!--  Início Sobre Section  -->
<section class="services" id="evento">

    <!--    Início Services Titles    -->
    <div class="row">
        <h1 class="mean_title">O que é o SINFO?</h1>
        <h2 class="sub_title">É o Simpósio de Sistemas de Informação, da Universidade Federal do Piauí campus Picos, construido pelo conjunto do curso. Em sua oitava edição, que acontecerá entre os dias <strong>5 a 7 de outubro de 2016</strong>, traz o tema <strong>Computação e Interdisciplinaridade</strong>            como discussão central de suas atividades. Serão dispostos espaços de discussão e construção do conhecimento, como:</h2>
    </div>
    <!--    End Services Titles    -->

    <!--    Início Services List    -->
    <div class="row services_list">

        <div class="large-4 columns">
            <%=image_tag('icon1.png', class:'serv_icon')%>
                <h2 class="title">Palestras</h2>
                <p>Para que os participantes possam conhecer o trabalho apresentado pelos convidados de maneira mais clara e se atualizarem dos assuntos abordados, podendo desenvolver projetos pessoais ou tirar dúvidas decorrentes destes espaços.</p>
        </div>

        <div class="large-4 columns">
            <%=image_tag('icon2.png',class:'serv_icon')%>
                <h2 class="title">Minicursos</h2>
                <p>Que com mais especifidade, levarão ao participante um conteúdo técnico, detalhado e prático acerca das ferramentas abordadas, que serão: Android; Arduino e robótica Livre; Python; Controle versão; E Muito mais</p>
        </div>


        <div class="large-4 columns">
            <%=image_tag('icon3.png',class:'serv_icon')%>
                <h2 class="title">Submissão de Artigos</h2>
                <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

    </div>
    <!--    End Services List    -->

</section>
<!--  End Sobre Section  -->

<!--  Início Frase Section  -->
<section class="quote">
    <blockquote>
        <p>“A administração superior sempre esteve aberta a apoiar eventos dessa magnitude.<span class="strong"> Os estudantes que hoje participam aqui, serão, sem dúvida, profissionais diferenciados no futuro</span>"</p>
        <hr/>
        <span class="author">Reitor Prof. Dr. José Arimateia Dantas Lopes</span>
    </blockquote>
</section>
<!--  End Frase Section  -->

<!--  Início Palestrantes Section  -->
<section class="testimonials" id="palestras">

    <div class="row">

        <h1 class="mean_title">Palestrantes</h1>

        <div class="medium-6 columns">
            <div class="profile-card">
                <%=image_tag('Ricardo.png')%>
                    <div class="profile-info">
                        <h4 class="subheader">Ricardo de Andrade Lira Rabêlo</h4>
                        <p><strong>Sistemas Inteligentes: Aspectos Teóricos e Aplicações</strong></p>
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item text-center" data-accordion-item>
                                <a href="#" class="button">Biografía</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Possui graduação em Bacharelado em Ciência da Computação pela Universidade Federal do Piauí, UFPI, (2005) e Doutorado em Ciências (Engenharia Elétrica - Sistemas Elétricos de Potência), Programa de Engenharia Elétrica
                                        na Universidade de São Paulo, USP, (2010). Professor Adjunto da Universidade Federal do Piauí (UFPI), no Departamento de Computação (DC). Atualmente é Coordenador da Câmara Técnico-Científica (CTC) de Computação
                                        e Engenharias da Fundação de Amparo a Pesquisa do Estado do Piauí (FAPEPI) e Coordenador de Tutoria do Curso de Bacharelado em Sistemas de Informação da UFPI/UAB/CEAD.</p>
                                </div>
                            </li>
                            <!-- ... -->
                        </ul>

                    </div>
            </div>
        </div>

        <div class="medium-6 columns">
            <div class="profile-card">
                <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
                <div class="profile-info">
                    <h4 class="subheader">José Nunes de Oliveira Neto</h4>
                    <p><strong>Faço Jogos Porque Amo: Conhecendo este Mercado</strong></p>
                    <ul class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item text-center" data-accordion-item>
                            <a href="#" class="button">Biografía</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Graduado em Ciência da Computação pela Universidade Federal do Maranhão, pesquisa na área de desenvolvimentos de jogos eletrônicos e entretenimento digital pelo IFMA - Campus Monte Castelo e atua como desenvolvedor de jogos
                                    pela Zogui Game Studio. É também diretor de relações institucionais da Associação Maranhense de Desenvolvedores de Jogos Eletrônicos - AMAGames, onde participa de ações para disseminar a cultura do desenvolvimentos
                                    de jogos no estado do Maranhão, tais como participação em exposições, feiras, associações e realização de cursos voltados à área.</p>
                            </div>
                        </li>
                        <!-- ... -->
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>
<!--  End Palestrantes Section  -->


<!--  Início Minicursos Section  -->
<section class="testimonials" id="minicursos">

    <div class="row">
        <hr/>
        <h1 class="mean_title">Minicursos</h1>
        <hr/>
        <div class="row">
            <div class="large-12 columns text-center">
                <div class="row">

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m1.png')%>
                            <h6 class="panel"><strong>Conhecendo o Node.js</strong></br> Jesiel Viana da Silva</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m2.png')%>
                            <h6 class="panel"><strong>Quero fazer jogos com Unity!</strong></br>José Nunes de Oliveira Neto</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m3.png')%>
                            <h6 class="panel"><strong>Utilização de bibliotecas livres para o processamento digital de imagens </strong></br>Alexandre e Marcos</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m4.png')%>
                            <h6 class="panel"><strong>Latex básico para graduação</strong></br>Marcio Alves</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m5.png')%>
                            <h6 class="panel"><strong>Firebase a partir de hoje!</strong></br>Kelvin Campelo Alves de Sousa</h6>
                    </div>

                    <div class="large-4 small-6 columns">
                        <%=image_tag('m6.png')%>
                            <h6 class="panel"><strong>Dev Mobile Híbrido, foco em front end</strong></br>Vicente M Carvalho</h6>
                    </div>

                    <div class="large-4 large-12 columns">
                        <%=image_tag('m7.png')%>
                            <h6 class="panel"><strong>Robótica móvel em ambientes internos: modelagem,controle e simulacão</strong></br></h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<!--  End Minicursos Section  -->

<!--  Início Chamada Section  -->
<section class="cta" id="inscricao">
    <div class="row">
  <div class="column medium-4">

    <ul class="pricing-table no-bullet text-center">
      <li class="titleprice">Básico</li>
      <li class="price">R$20,00</li>
      <li class="description">Somente Palestras</li>
    </ul>

  </div>
  
    <div class="column medium-4">

    <ul class="pricing-table no-bullet text-center">
      <li class="titleprice">Intermediário</li>
      <li class="price">R$30,00</li>
      <li class="description">Palestras + 1 Minicurso</li>
    </ul>

  </div>
  
    <div class="column medium-4">

    <ul class="pricing-table no-bullet text-center">
      <li class="titleprice">Quero tudo</li>
      <li class="price">R$35,00</li>
      <li class="description">Palestras + 2 Minicursos</li>
    </ul>

  </div>
</div>
    <div class="row">
        <!--    Início CTA Titles    -->
        <h1 class="title">Venha participar do maior evento de TI do centro-sul piauiense!</h1>
        <h2 class="sub_title">Garanta sua vaga!</h2>
        <!--    End CTA Titles    -->

        <!--    Início Button    -->
        <%= link_to('Inscreva-se!', new_user_session_path, class: 'button large')%>
            <!--    End Button    -->
    </div>
</section>
<!--  End Chamada Section  -->

<!--  Início Realização Section  -->
<section class="testimonials" id="realizacao">

    <div class="row">
        <hr/>
        <h1 class="mean_title">Realização</h1>
        <hr/>
        <div class="row">
            <div class="large-12 columns text-center">
                <div class="row">

                    <div class="large-4 columns">
                        <%=image_tag('r1.png')%>
                    </div>

                    <div class="large-4 columns">
                        <%=image_tag('r2.png')%>
                        </div>

                    <div class="large-4 columns">
                        <%=image_tag('r3.png')%>
                    </div>

                </div>
            </div>
            <hr/>
        </div>
    </div>
    </div>

</section>
<!--  End Realização Section  -->


<!--  Início Rodapé Section  -->
<footer>
    <div class="row">

        <!--    Início Copyrights    -->
        <div class="small-12 medium-4 large-4 columns">
            <div class="copyrights">
                <a class="logo" href="#">
                    <h1>Sinfo<span class="tld">.com</span></h1>
                </a>
                <p>Copyright © 20015-2015 SINFO.</p>
            </div>
        </div>
        <!--    End Copyrights    -->


        <div class="small-12 medium-8 large-8 columns">
            <div class="contact_details right">
                <nav class="social">
                    <ul class="no-bullet">
                        <li><a href="https://www.facebook.com/sinfoufpi" target="_blank">Facebook</a></li>
                        <li><a href="http://instagram.com/sinfoufpi" target="_blank">Instagram</a></li>
                        <li><a href="http://twitter.com/sinfoufpi" target="_blank">Twitter</a></li>
                        <li><a href="http://plus.google.com/sinfoufpi" target="_blank">Google+</a></li>
                    </ul>
                </nav>

                <div class="contact">
                    <div class="details">
                        <p>sinfovi@gmail.com</p>
                        <p>Numero do telefone aqui</p>
                    </div>

                    <p class="adress">UFPI | Campus Senador Helvídio Nunes de Barros<br>Rua Cícero Duarte - n. 905 - Bairro Junco - Picos - PI</p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!--  End Rodapé Section  -->

<!--    Início Back To Top    -->
<a href="#" class="button" id="back_top">Topo</a>
<!--    End Back To Top    -->