<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dia %><br>
    <%= f.select :type_day, options_for_select([:first_day, :second_day], :first_day) %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Curso", class: 'button expanded'%>
  </div>
<% end %>
