<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course.type_day %>
</p>

<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Voltar', courses_path %>
  </div>
  </div>