<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "8º Sinfo" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <!-- redenrizar partial para flash_mensagens usando o bootstrap -->
    <%= render partial: "shared/flash_messages", flash: flash %>

    <%# Seleção do menu para o tipo de usuario logado no sistema %>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
        <%= render partial: "shared/admin_panel" %>
        <% else %>
        <%= render partial: "shared/normal_panel" %>
        <% end %>
    <% else %>
        <%# Panel para todos os usuarios não logados no sistema %>
        <%#= render partial: "shared/default_panel" %>
        <%= yield %>
    <% end %>
</body>
</html>