<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    
<h2 class="text-center">Editar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :senha %> <i>(Deixe em branco se você não deseja alterar!)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres no mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :senha_atual %> <i>(precisamos de sua senha atual para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" ,class: 'button expanded'%>
  </div>
<% end %>

<h3>Cancelar minha inscrição</h3>

<p>Insatisfeito? <%= button_to "Cancelar minha inscrição", registration_path(resource_name), class: 'button expanded alert',data: { confirm: "tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
  
  
  </div>
</div>